## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
sample_list_1 = []
sample_list_1 = random.sample(range(101),80)
print(sample_list_1)

[82, 78, 39, 10, 9, 100, 29, 59, 99, 3, 51, 66, 56, 98, 83, 38, 42, 52, 17, 7, 34, 81, 4, 94, 90, 86, 95, 12, 47, 28, 63, 71, 20, 27, 1, 74, 25, 0, 24, 26, 23, 11, 61, 21, 67, 54, 15, 64, 70, 97, 58, 92, 2, 77, 73, 89, 55, 50, 43, 80, 8, 72, 19, 44, 75, 30, 76, 79, 48, 68, 32, 33, 36, 87, 46, 37, 18, 88, 93, 14]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
set_1 = set(sample_list_1)
print(set_1)

print(len(set_1))

#Sí, porque al usar la función random.sample sólo se generan números únicos.

{0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 14, 15, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 36, 37, 38, 39, 42, 43, 44, 46, 47, 48, 50, 51, 52, 54, 55, 56, 58, 59, 61, 63, 64, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 86, 87, 88, 89, 90, 92, 93, 94, 95, 97, 98, 99, 100}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [6]:
sample_list_2 = []

for i in range(80):
  sample_list_2.append(random.randrange(0,101,1))
print(sample_list_2)

[24, 75, 30, 70, 93, 78, 38, 86, 67, 4, 88, 7, 20, 0, 99, 75, 2, 71, 75, 4, 20, 65, 13, 16, 7, 77, 26, 4, 15, 45, 32, 39, 8, 94, 86, 47, 0, 57, 75, 70, 27, 72, 19, 34, 82, 85, 85, 59, 19, 97, 92, 39, 30, 11, 36, 90, 89, 49, 43, 77, 8, 72, 98, 99, 44, 10, 84, 14, 62, 63, 9, 12, 16, 52, 80, 30, 24, 3, 88, 51]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [7]:
set_2 = set(sample_list_2)
print(set_2)

print(len(set_2))

# No, porque al usar la función random.randrange no se generan valores únicos.

{0, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 19, 20, 24, 26, 27, 30, 32, 34, 36, 38, 39, 43, 44, 45, 47, 49, 51, 52, 57, 59, 62, 63, 65, 67, 70, 71, 72, 75, 77, 78, 80, 82, 84, 85, 86, 88, 89, 90, 92, 93, 94, 97, 98, 99}
58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [8]:
set_3 = set_1 - set_2

print(set_3)

{1, 17, 18, 21, 23, 25, 28, 29, 33, 37, 42, 46, 48, 50, 54, 55, 56, 58, 61, 64, 66, 68, 73, 74, 76, 79, 81, 83, 87, 95, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [9]:
set_4 = set_2 - set_1

print(set_4)

{65, 45, 13, 16, 49, 84, 85, 57, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [10]:
set_5 = set_1 & set_2

print(set_5)

{0, 2, 3, 4, 7, 8, 9, 10, 11, 12, 14, 15, 19, 20, 24, 26, 27, 30, 32, 34, 36, 38, 39, 43, 44, 47, 51, 52, 59, 63, 67, 70, 71, 72, 75, 77, 78, 80, 82, 86, 88, 89, 90, 92, 93, 94, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [16]:
relation = len(set_1) > len(set_2) >= len(set_3) > len(set_4) < len(set_5)

print(relation)

True

#### Create an empty set called `set6`.

In [19]:
set_6  = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [21]:
set_6.update(set_3)

set_6

set_6.update(set_5)

set_6

{0,
 1,
 2,
 3,
 4,
 7,
 8,
 9,
 10,
 11,
 12,
 14,
 15,
 17,
 18,
 19,
 20,
 21,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 32,
 33,
 34,
 36,
 37,
 38,
 39,
 42,
 43,
 44,
 46,
 47,
 48,
 50,
 51,
 52,
 54,
 55,
 56,
 58,
 59,
 61,
 63,
 64,
 66,
 67,
 68,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 86,
 87,
 88,
 89,
 90,
 92,
 93,
 94,
 95,
 97,
 98,
 99,
 100}

#### Check if `set1` and `set6` are equal.

In [26]:
set_1 == set_6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [24]:
set_1.issubset(set_2)

False

In [76]:
set_1.issubset(set_3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [39]:
u_1 = set_3 | set_4 | set_5 

u_1

{0,
 1,
 2,
 3,
 4,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 32,
 33,
 34,
 36,
 37,
 38,
 39,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 54,
 55,
 56,
 57,
 58,
 59,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 92,
 93,
 94,
 95,
 97,
 98,
 99,
 100}

In [42]:
u_2 = set_1 | set_2
u_2

{0,
 1,
 2,
 3,
 4,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 32,
 33,
 34,
 36,
 37,
 38,
 39,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 54,
 55,
 56,
 57,
 58,
 59,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 92,
 93,
 94,
 95,
 97,
 98,
 99,
 100}

In [43]:
u_1 == u_2

True

#### Using the `pop` method, remove the first element from `set1`.

In [70]:
set1= {0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 14, 15, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 36, 37, 38, 39, 42, 43, 44, 46, 47, 48, 50, 51, 52, 54, 55, 56, 58,59, 61, 63, 64, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 86, 87, 88, 89, 90, 92, 93, 94, 95, 97, 98, 99, 100}

set1

set1.pop()

set1

{1,
 2,
 3,
 4,
 7,
 8,
 9,
 10,
 11,
 12,
 14,
 15,
 17,
 18,
 19,
 20,
 21,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 32,
 33,
 34,
 36,
 37,
 38,
 39,
 42,
 43,
 44,
 46,
 47,
 48,
 50,
 51,
 52,
 54,
 55,
 56,
 58,
 59,
 61,
 63,
 64,
 66,
 67,
 68,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 86,
 87,
 88,
 89,
 90,
 92,
 93,
 94,
 95,
 97,
 98,
 99,
 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [75]:
list_to_remove = set([1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99])
list_to_remove

set1 - list_to_remove

{2,
 3,
 4,
 7,
 8,
 10,
 12,
 14,
 15,
 17,
 18,
 20,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 36,
 37,
 38,
 42,
 43,
 44,
 46,
 47,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 63,
 64,
 66,
 67,
 68,
 70,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 80,
 82,
 83,
 86,
 87,
 88,
 90,
 92,
 93,
 94,
 95,
 97,
 98,
 100}